body {
    transform: all .5s ease;
}

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 4px; /* Largura da barra */
}

::-webkit-scrollbar-track {
    background: #1a1a1a; /* Cor do fundo da barra */
}

::-webkit-scrollbar-thumb {
    background: #FFA5D3; /* Cor da barra */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff6aaf; /* Cor ao passar o mouse */
}


/* #box {
    animation: sobe 0.7s ease-out;
} */

@keyframes sobe {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.sobe-animado {
    animation: sobe 0.7s ease-out;
}